@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&family=IM+Fell+English+SC&family=IM+Fell+English:ital@0;1&display=swap');

body {
  background-color: #82626d;
  overflow-x: hidden;
}

tw-story {
  position: relative;
  line-height: 160%;
  font-family: "IM Fell English", "Georgia", "Verdana", serif;
  font-size: 24px;
  color: #333;
  background-color: white;
  max-width: 600px;
  margin: 1em auto;
  min-height: calc(100vh - 7em);
  padding: 2em;
  border: darkslategray solid thin;
  box-shadow: 3px 3px 4px 1px #0005;
}
@media only screen and (max-width: 600px) {
  tw-story {
    margin: 0.5em auto 2.5em;
    padding: 1em;
    min-height: calc(100vh - 5em);
  }
}

#character-watermark {
  position: absolute;
  top: 10vh;
  left: calc(100% - 10px);
  writing-mode: vertical-rl;
  font-family: "IM Fell DW Pica";
  font-size: 100px;
  line-height: 100%;
  color: #fff6;
}
@media only screen and (max-width: 600px) {
  /* No watermark on mobile */
  #character-watermark { display: none; }
}

tw-story strong {
  font-family: "IM Fell DW Pica", "Georgia", "Verdata", serif;
}

tw-story a {
  font-family: "IM Fell DW Pica", "Georgia", "Verdata", serif;
  /* font-weight: bold; */ /* The font does the work. */
  color: #912d38;
  text-decoration: none;
}
tw-story a:hover {
  color: #e0273c;
}
tw-story .link-like {
  /* Keep consistent with link style (font, boldness) but not color */
  font-family: "IM Fell DW Pica", "Georgia", "Verdata", serif;
}

tw-story ul {
  list-style-type: "* ";
  line-height: 125%;
}
tw-story ul li::marker {
  font-family: "IM Fell DW Pica";
  font-weight: bold;
}

/* Text that's a little faded out, usually when it's been
   read and a new part of the passage has been revealed. */
tw-story .faded-text {
  transition: color 300ms;
  color: #888;
}

tw-story .new-text {
  transition: color 
}

blockquote {
  font-style: italic;
}

.title-page {
  text-align: center;
  margin-top: 25vh;
}
@media only screen and (max-width: 600px) {
  .title-page {
    margin-top: 5vh;
  }
}
.title-page h1 {
  font-size: 3em;
}
@media only screen and (max-width: 600px) {
  .title-page h1 {
    font-size: 2em;
    line-height: 100%;
  }
}
.title-page h2 {
  font-size: 1.2em;
}
.title-page h3 {
  font-size: 1.2em;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
@media only screen and (max-width: 600px) {
  .title-page h3 {
    margin-top: unset;
    margin-bottom: unset;
  }
}
.title-page a {
  font-size: larger;
}



.interlude {
  display: block;
  text-align: center;
  font-style: italic;
  margin-top: 25vh;
}

.scene-heading {
  text-align: center;
  font-family: "IM Fell English SC";
  /* font-variant: small-caps; */ /* Implied by the font */
}

.readaloud {
  position: relative;
  font-family: "IM Fell English SC";
  /* font-variant: small-caps; */ /* Implied by the font */
  text-decoration: solid underline #912d38 2px;
  text-underline-offset: 2px;
}

.readaloud::before {
  content: "READ ALOUD";
  white-space: nowrap;
  position: absolute;
  text-align: center;
  width: 8em;
  margin-left: -4em;
  left: 50%;
  top: 1.3em;
  font-family: sans-serif;
  font-size: x-small;
  font-weight: 800;
  color: #912d38;
}

/* A stop-box indicates the other player is going to provide
   you with a keyword; so we don't want you to miss it. */
.stop {
  display: block;
  width: 100%;
  padding: 1em;
  margin-left: -1em;
  border: #912d38 solid thin;
  border-radius: 5px;
  background-color: #912d381c;
  font-family: "IM Fell English SC";
  /* font-variant: small-caps; */ /* Implied by the font */
}
.stop::before {
  content: "🛑 ";
}
.stop a {
  font-family: "IM Fell English SC";
}

.dev-panel {
  position: absolute;
  width: 300px;
  top: 1em;
  right: 0;
  background-color: white;
  border: solid black thin;
  padding: 1em;
  font-size: 10pt;
  font-family: sans-serif;
}
@media only screen and (max-width: 600px) {
  .dev-panel {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: unset;
    width: unset;
  }
}